<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col-md-10 mx-auto col-lg-5">
    <div class="p-4 p-md-5">
      <div class="form-floating mb-3">
        <input type="url"
               class="form-control"
               id="urlOriginal"
               name="urlOriginal"
               [(ngModel)]="urlOriginal"
               placeholder="Url original">
        <label for="urlOriginal">Url longa</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="button" (click)="encurtar()">Encurtar</button>

      <div class="mt-5"></div>

      <div *ngIf="mostrarUrlEncurtada">
        <div class="form-floating mb-3">
          <a class="text-start text-primary" [href]="urlEncurtada" target="_blank">
            {{ urlEncurtada }}
          </a>
        </div>
        <div class="form-floating mb-3">
          <img [src]="urlQrCode" class="rounded mx-auto d-block" alt="url qr code" width="200" height="200">
        </div>
      </div>

      <hr class="my-4">
      <small class="text-muted">Dê uma estrelinha la no <a href="https://github.com/BSTK/okk-url-curto" target="_blank">Github</a> (-:</small>
    </div>
  </div>
</div>
